.details-form-user {
    width: 800px;
    height: auto;
}

.details-user-firstname,
.details-user-lastname,
.details-user-fullName,
.details-user-address,
.details-user-birth,
.details-user-gender {
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.details-text {
    width: 150px;
}

.details-user-update {
    width: 700px;
    text-align: center;
}

.details-user-update button {
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.details-form-input {
    display: flex;
    width: 100%;
}

.udetails-user-firstname{
    width: 400px;
}