.star {
    color: red;
}

.star.active {
    color: red;
}

.list,
.list.disabled {
    &:hover {
        .star {
            color: red !important;
        }

        .star.active {
            color: red;
        }
    }
}